.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
}

.App-header {
  background-color: black;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.App-Header {
  background-color: black;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 5px;
}

.Prize-Description {
  padding: 0 0 20px;
  border-bottom: 1px solid black;
}

.Clock {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #106fbe;
  border: none;
  border-bottom: solid 3px darken(#106fbe, 10%);
  border-left: solid 3px darken(#106fbe, 10%);
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.entry-form-submit {
  flex-grow: 1;
  font-size: 1.5rem;
}
