.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 90px; }

.App-header {
  background-color: black;
  height: 130px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  padding-right: 5rem; }

.App-Header {
  background-color: black;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center; }

.App-title {
  font-size: 2em;
  padding-left: 20px; }

.App-title-createApp {
  font-size: 2em;
  padding-left: 20px;
  margin-top: 20px; }

.App-intro {
  padding: 5px; }

.links:hover,
.button:hover {
  transform: scale(1.1); }

.button {
  transition: all 0.2s ease-in-out;
  background-color: #106fbe;
  border: none;
  border-bottom: solid 2px #0a4677;
  border-left: solid 2px #0a4677;
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.Clock {
  color: #106fbe;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: -1rem;
  padding-bottom: 1rem; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.entry-form-submit {
  flex-grow: 1;
  font-size: 1.5rem;
  padding-top: 1.5rem; }

.entry-form-submit p {
  color: red;
  font-style: italic; }

.date {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-left: 3rem; }

.link {
  text-decoration: none;
  color: white; }

.links {
  transition: all 0.2s ease-in-out;
  background-color: #106fbe;
  border-bottom: solid 2px #0a4677;
  border-left: solid 2px #0a4677;
  margin-left: 0.5rem;
  margin-top: 2.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.statusDescription {
  padding: 1rem 0 2.5rem;
  border-top: 1px solid black;
  display: flex;
  justify-content: center; }

.Prize-Description {
  padding: 1rem 0 2.5rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center; }

.statusDescription span,
.Prize-Description span {
  color: #f5cf0a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.status-picture {
  margin-top: 2rem;
  border: 2px solid black; }

.rdt {
  position: relative; }

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  margin-top: -1.25rem;
  margin-bottom: 5rem;
  margin-left: 10rem;
  z-index: 99999 !important;
  background: #fff; }

.rdtOpen .rdtPicker {
  display: block; }

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static; }

.rdtPicker .rdtTimeToggle {
  text-align: center;
  border: 3px solid black;
  background-color: white; }

.rdtPicker table {
  width: 100%;
  background-color: #106fbe;
  border: 3px solid black;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem; }

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px; }

.rdtPicker td {
  cursor: pointer;
  border: 2px solid black; }

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: yellow;
  cursor: pointer; }

.rdtPicker td.rdtOld:hover {
  background: yellow;
  color: black; }

.rdtPicker td.rdtNew:hover {
  background: yellow;
  color: black; }

.rdtPicker td.rdtDay {
  background-color: white; }

.rdtPicker td.rdtOld {
  color: lightgrey; }

.rdtPicker td.rdtNew {
  color: lightgrey; }

.rdtPicker td.rdtToday {
  position: relative; }

.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #106fbe;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px; }

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff; }

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker td span.rdtOld {
  color: #999999; }

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker th {
  border-bottom: 3px solid black; }

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default; }

.rdtPicker th.rdtSwitch {
  width: 100px;
  color: black; }

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top; }

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed; }

.rdtPicker thead tr:first-child th {
  cursor: pointer; }

.rdtPicker thead tr:first-child th:hover {
  background: yellow; }

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9; }

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer; }

.rdtPicker button:hover {
  background-color: yellow; }

.rdtPicker thead button {
  width: 100%;
  height: 100%; }

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer; }

td.rdtMonth:hover,
td.rdtYear:hover {
  background: yellow; }

.rdtCounters {
  display: inline-block; }

.rdtCounters > div {
  float: left; }

.rdtCounter {
  height: 100px; }

.rdtCounter {
  width: 40px; }

.rdtCounterSeparator {
  line-height: 100px; }

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.rdtCounter .rdtBtn:hover {
  background: yellow; }

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em; }

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px; }

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px; }

.rdtTime td {
  cursor: default; }
